# Python bytecode and build artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django/Flask/Scrapy/other Python web
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# LaTeX temporary files
*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.out
*.synctex.gz
*.bbl
*.blg
*.run.xml
*.bcf
*.xml
*.gz
*.gz.part
*.gz.part.1

# IPython
profile_default/
ipython_config.py

# pyenv
# .python-version

# pipenv/poetry/pdm/uv
#Pipfile.lock
#uv.lock
#poetry.lock
.pdm.toml
.pdm-python
.pdm-build/
#pdm.lock

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython
cython_debug/

# PyCharm/JetBrains
# .idea/
.ruff_cache/

# PyPI
.pypirc

# Project-specific secrets and data
sentinel_config.enc
data/
test_data/

# Java/IDE/Build tools
*.class
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/
.classpath
.project
.settings/
bin/
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.vscode/
.code-workspace
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.gradle/
build/

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Java/C/C++/other temp and build
*.tmp
*.bak
*.swp
*~.nib
local.properties
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

primes*.txt
